<section class="user-section">
       
           <div class="loan-container">
                  {{#if loanRequests}}
                    {{#each loanRequests}}
                         <div class="media" style="margin-top: 2em; margin-bottom: 4em;">
                              <div class="align-self-start mr-3">
                                <img src="http://localhost:3000/images/human.png"  width="200px" height="120px" alt="Generic placeholder image">
                                <p class="card-text"><span class="special-txt">issuer : </span> {{this.issuer}}</p>

                             </div>
                            <div class="media-body">
                                <h5 class="mt-0"><span class="special-txt">Loan ID : </span>{{this.loan_id}}</h5>
                                <p class="card-text"><span class="special-txt">Requested Loan Amount : </span>  <i class="fa fa-rupee"></i>{{this.amount}}</p>
                                <p class="card-text"><span class="special-txt">Loan Tenure : </span> {{this.tenure}} months</p>
                                <p class="card-text"><span class="special-txt">Affordable Interest : </span>{{this.interest}}%</p>
                                <p class="card-text"><span class="special-txt">Issued date : </span>{{this.issued_date}}</p>
                                <a href="/admin/view/loan_request/{{this.loan_id}}"  class="btn btn-success">View</a>


                            </div>
                        </div>
                    {{/each}}
                  {{else}}
                    <p>No loans yet!</p>
                  {{/if}}
               </div>
</section>
