<div class="sidebar">
           <div class="sidebar-brand">
               <h1>
                    <span class="fas fa-hands-helping"></span>
                    Fairlends
               </h1>
           </div>
           <div class="sidebar-menu">
                <ul>
                   <li>
                       <a href="/" >
                            <span class="fas fa-tachometer-alt"></span>
                            <span>Dashboard</span>
                       </a>
                   </li>
                   <li>
                       <a href="/users/lender/loans">
                            <span class="fas fa-clipboard-list"></span>
                            <span>Loan Requests</span>
                       </a>
                   </li>
                   <li>
                       <a href="/users/lender/acceptedLoans" >
                            <span class="fas fa-clipboard"></span>
                            <span>My Lends</span>
                       </a>
                   </li>
                    <li>
                       <a href="/users/lender/activeLoans" class="active" >
                            <span class="fas fa-clipboard"></span>
                            <span>Active Lends</span>
                       </a>
                   </li>
                   <li>
                       <a href="/" >
                            <span class="fas fa-user-circle"></span>
                            <span>Profile</span>
                       </a>
                   </li>
                   <li>
                       <a href="/" >
                            <span class="fas fa-sign-out-alt"></span>
                            <span>Logout</span>
                       </a>
                   </li>
               </ul>
           </div>
</div>

<div class="main-content">
    <header>
        <h2>
            <label for=""> <span class="fas fa-bars"></span></label>
             Loan Id {{myLoan.loan_id}}
        </h2>
        <div class="user-wrapper">
            <img src="http://localhost:3000/images/human.png" width="40px" height="40px" alt="">
            <div>
                {{user.name}}
            </div>
        </div>
    </header>
     
    <main>
   
         <div class="loan-container">
              <div class="cards">
                  {{#if myLoan}}
                 
                         <div class="card">
                             <div class="card-header">
                                 <table>
                                    <tr>
                                        <td>
                                            <span class="special-txt">Loan Id </span>
                                        </td>
                                        <td>
                                             <p class="card-text">: {{myLoan.loan_id}}</p>  

                                        </td>
                                    </tr>
                                    </table>
                             </div>
                            <div class="card-body">
                                <table>
                                    
                                    <tr>
                                        <td>
                                            <span class="special-txt">Issued On</span>
                                        </td>
                                        <td>
                                             <p class="card-text">: {{myLoan.issued_date}}</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="special-txt">Requested Loan Amount </span>
                                        </td>
                                        <td>
                                            <p class="card-text"> : <i class="fa fa-rupee"></i>{{myLoan.amount}}</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="special-txt">Status </span>
                                        </td>
                                        <td>
                                             <p class="card-text">: {{myLoan.status}}</p>

                                        </td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <span class="special-txt">Approve On </span>
                                        </td>
                                        <td>
                                             <p class="card-text">: {{myLoan.approved_date}}</p>

                                        </td>
                                    </tr>

                                     <tr>
                                        <td>
                                            <span class="special-txt">End On </span>
                                        </td>
                                        <td>
                                             <p class="card-text">: {{myLoan.end_date}}</p>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                  {{else}}
                    <p>No loans yet!</p>
                  {{/if}}


                  {{#if issuer}}
                 
                         <div class="card">
                             <div class="card-header">
                                 <table>
                                     <tr>
                                         <td>
                                            <span class="special-txt">Issuer </span>

                                         </td>
                                         <td>
                                            <p class="card-text">: {{issuer.name}}</p>  

                                         </td>
                                     </tr>
                                 </table>
                             </div>
                            <div class="card-body">
                                <table> 
                                    <tr>
                                        <td>
                                            <span class="special-txt">Adhar Id</span>
                                        </td>
                                        <td>
                                             <p class="card-text">: {{issuer.adhar_id}}</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="special-txt">Phone No </span>
                                        </td>
                                        <td>
                                            <p class="card-text"> : {{issuer.phone}}</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="special-txt">State </span>
                                        </td>
                                        <td>
                                             <p class="card-text">: {{issuer.state}}</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="special-txt">City</span>
                                        </td>
                                        <td>
                                             <p class="card-text">: {{issuer.city}}</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="special-txt">Pincode</span>
                                        </td>
                                        <td>
                                             <p class="card-text">: {{issuer.pincode}}</p>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                  {{else}}
                    <p>No loans yet!</p>
                  {{/if}}
               </div>

            {{#if myLoan.approved}}
            <div class="cards">
            <div class="card">
                <div class="card-header">
                     <h2 style="color: black;">EMI Schedule</h2>
                </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table width="100%">
                                        <thead>
                                            <tr>
                                                <td>
                                                    No
                                                </td>
                                                <td>
                                                    Due date
                                                </td>
                                                <td>
                                                    Amount
                                                </td>
                                                <td>
                                                    Status
                                                </td>
                                                <td>
                                                    Action
                                                </td>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {{#if myLoan}}
                                                {{#each myLoan.emi}}
                                                    <tr>
                                                        <td>
                                                            {{index}}
                                                        </td>
                                                        <td>
                                                            {{this.date}}
                                                        </td>
                                                        <td>
                                                            8976
                                                        </td>
                                                        <td>
                                                            {{#if this.payment}}
                                                            Payed
                                                            {{else}}
                                                            Not payed
                                                            {{/if}}
                                                        </td>
                                                        <td>
                                                            {{#if this.payment}}
                                                            <button disabled>Report</button>
                                                            {{else}}
                                                            <button>Report</button>
                                                            {{/if}}
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                            {{/if}}
                                        
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                <div class="card-header">
                     <h2 style="color: black;">Tax Schedule</h2>
                </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table width="100%">
                                        <thead>
                                            <tr>
                                                <td>
                                                    No
                                                </td>
                                                <td>
                                                    Due date
                                                </td>
                                                <td>
                                                    Amount
                                                </td>
                                                <td>
                                                    Status
                                                </td>
                                                <td>
                                                    Make Payment
                                                </td>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {{#if myLoan}}
                                                {{#each myLoan.tax}}
                                                    <tr>
                                                        <td>
                                                            {{index}}
                                                        </td>
                                                        <td>
                                                            {{this.date}}
                                                        </td>
                                                        <td>
                                                            23
                                                        </td>
                                                        <td>
                                                            {{#if this.payment}}
                                                            Payed
                                                            {{else}}
                                                            Not payed
                                                            {{/if}}
                                                        </td>
                                                        <td>
                                                            {{#if this.payment}}
                                                            <button disabled>Pay</button>
                                                            {{else}}
                                                            <button>Pay</button>
                                                            {{/if}}
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                            {{/if}}
                                        
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                    
                </div>
            </div>
                    
    </main>

</div>
    

