<div class="navs">
           <div class="head">
               <a class="logo" href="#">FAIRLENDS</a>
               <nav>
                   <ul class="primary-nav">
                        <li class="reg-btn"><a href="/auth/signout">Logout</a></li>
                   </ul>
               </nav>
           </div>
</div>

<section class="user-section">
        <h2>My Lends</h2>
           <div class="loan-container">
                  {{#if myLoan}}
                    {{#each myLoan}}
                         <div class="card" style="margin-top: 2em;">
                            <div class="card-header " style="background-color : rgb(153, 153, 228);">
                                <span class="special-txt">Loan ID : </span>{{this.loan_id}}
                            </div>
                            <div class="card-body">
                                <p class="card-text"><span class="special-txt">Requested Loan Amount : </span>  <i class="fa fa-rupee"></i>{{this.amount}}</p>
                                <p class="card-text"><span class="special-txt">Loan Tenure : </span> {{this.tenure}} months</p>
                                <p class="card-text"><span class="special-txt">Affordable Interest : </span>{{this.interest}}%</p>


                                <p class="card-text"><span class="special-txt">Approved : </span>{{#if this.approved}} Approved {{else}} Not Approved yet {{/if}}</p>
                                <p class="card-text"><span class="special-txt">Issued date : </span>{{this.issued_date}}</p>
                                <p class="card-text"><span class="special-txt">Status : </span>{{this.status}}</p>
                                <a href="#" class="btn btn-success">View</a>


                            </div>
                        </div>
                    {{/each}}
                  {{else}}
                    <p>No loans yet!</p>
                  {{/if}}
               </div>
</section>
