<div class="sidebar">
           <div class="sidebar-brand">
               <h1>
                    <span class="fas fa-hands-helping"></span>
                    Fairlends
               </h1>
           </div>
           <div class="sidebar-menu">
               <ul>
                   <li>
                       <a href="/">
                            <span class="fas fa-tachometer-alt"></span>
                            <span>Dashboard</span>
                       </a>
                   </li>
                   <li>
                       <a href="/users/loan" >
                            <span class="fas fa-clipboard-list"></span>
                            <span>New Loan</span>
                       </a>
                   </li>
                   <li>
                       <a href="/users/borrower/myloans" class="active" >
                            <span class="fas fa-clipboard"></span>
                            <span>My Loans</span>
                       </a>
                   </li>
                    <li>
                       <a href="/users/borrower/active_loan">
                            <span class="fas fa-clipboard"></span>
                            <span>Active Loan</span>
                       </a>
                   </li>
                   <li>
                       <a href="/" >
                            <span class="fas fa-user-circle"></span>
                            <span>Profile</span>
                       </a>
                   </li>
                   <li>
                       <a href="/" >
                            <span class="fas fa-sign-out-alt"></span>
                            <span>Logout</span>
                       </a>
                   </li>
               </ul>
           </div>
</div>

<div class="main-content">
    <header>
        <h2>
            <label for=""> <span class="fas fa-bars"></span></label>
            My Loans
        </h2>
        <div class="user-wrapper">
            <img src="http://localhost:3000/images/human.png" width="40px" height="40px" alt="">
            <div>
                {{user.name}}
            </div>
        </div>
    </header>
    <main>
         <div class="loan-container">
                  {{#if myLoan}}
                    {{#each myLoan}}
                        <a href="" style="text-decoration: none;">
                        <div class="card">
                            <div class="card-body">
                                 <p> <span class="special-txt">Loan Id : </span>{{this.loan_id}}</p>  
                                <p class="card-text"><span class="special-txt">Issued On: </span>{{this.issued_date}}</p>
                                <p class="card-text"><span class="special-txt">Requested Loan Amount : </span>  <i class="fa fa-rupee"></i>{{this.amount}}</p>
                                <p class="card-text"><span class="special-txt">Status : </span>{{this.status}}</p>
                            </div>
                        </div>
                        </a>
                    {{/each}}
                  {{else}}
                    <p>No loans yet!</p>
                  {{/if}}
               </div>
</div>

    </main>
    

