<div class="sidebar">
           <div class="sidebar-brand">
               <h1>
                    <span class="fas fa-hands-helping"></span>
                    Fairlends
               </h1>
           </div>
           <div class="sidebar-menu">
               <ul>
                   <li>
                       <a href="/" >
                            <span class="fas fa-tachometer-alt"></span>
                            <span>Dashboard</span>
                       </a>
                   </li>
                   <li>
                       <a href="/users/lender/loan" class="active">
                            <span class="fas fa-clipboard-list"></span>
                            <span>Loan Requests</span>
                       </a>
                   </li>
                   <li>
                       <a href="/users/lender/acceptedLoans" >
                            <span class="fas fa-clipboard"></span>
                            <span>My Lends</span>
                       </a>
                   </li>
                    <li>
                       <a href="/users/lender/activeLoans" >
                            <span class="fas fa-clipboard"></span>
                            <span>Active Lends</span>
                       </a>
                   </li>
                   <li>
                       <a href="/users/lender/complaints" >
                            <span class="fas fa-clipboard"></span>
                            <span>My Complaints</span>
                       </a>
                   <li>
                       <a href="/" >
                            <span class="fas fa-user-circle"></span>
                            <span>Profile</span>
                       </a>
                   </li>
                   <li>
                       <a href="/" >
                            <span class="fas fa-sign-out-alt"></span>
                            <span>Logout</span>
                       </a>
                   </li>
               </ul>
           </div>
</div>

<div class="main-content">
    <header>
        <h2>
            <label for=""> <span class="fas fa-bars"></span></label>
            Dashboard
        </h2>
        <div class="user-wrapper">
            <img src="images/human.png" width="40px" height="40px" alt="">
            <div>
                {{user.name}}
            </div>
        </div>
    </header>
 <main>
         <div class="loan-container">
                  {{#if myLoan}}
                    {{#each myLoan}}
                        <a href="/users/lender/view/loan/{{this.loan_id}}" style="text-decoration: none;">
                        <div class="card">
                            <div class="card-header">
                                 <table>
                                    <tr>
                                        <td>
                                            <span class="special-txt">Loan Id </span>
                                        </td>
                                        <td>
                                             <p class="card-text">: {{this.loan_id}}</p>  

                                        </td>
                                    </tr>
                                    </table>
                             </div>
                            <div class="card-body">
                                <table>
                                    
                                    <tr>
                                        <td>
                                            <span class="special-txt">Issued On</span>
                                        </td>
                                        <td>
                                             <p class="card-text">: {{this.issued_date}}</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="special-txt">Requested Loan Amount </span>
                                        </td>
                                        <td>
                                            <p class="card-text"> : <i class="fa fa-rupee"></i>{{this.amount}}</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="special-txt">Status </span>
                                        </td>
                                        <td>
                                             <p class="card-text">: {{this.status}}</p>

                                        </td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <span class="special-txt">With</span>
                                        </td>
                                        <td>
                                             <p class="card-text">: {{this.lender}}</p>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        </a>
                    {{/each}}
                  {{else}}
                    <p>No loans yet!</p>
                  {{/if}}
               </div>
</div>
    </main>
    
   
</div>

