<div class="navs">
           <div class="head">
               <a class="logo" href="#">FAIRLENDS</a>
               <nav>
                   <ul class="primary-nav">
                        <li class="reg-btn"><a href="/auth/signout">Logout</a></li>
                   </ul>
               </nav>
           </div>
</div>


<section class="user-section">
       
           <div class="loan-container">
               <div class="back">
                   <a href="/users/lender/loans"> Back</a>
               </div>
                  {{#if loanRequest}}
                         <div class="card" style="margin-top: 2em; margin-bottom: 4em;">
                              <div class="card-header">
                            Loan Id : {{loanRequest.loan_id}}

                            </div>
                            <div class="card-body">
                                <p class="card-text"><span class="special-txt">issuer : </span> {{loanRequest.issuer}}</p>
                                <p class="card-text"><span class="special-txt">Requested Loan Amount : </span>  <i class="fa fa-rupee"></i>{{loanRequest.amount}}</p>
                                <p class="card-text"><span class="special-txt">Loan Tenure : </span> {{loanRequest.tenure}} months</p>
                                <p class="card-text"><span class="special-txt">Affordable Interest : </span>{{loanRequest.interest}}%</p>
                                <p class="card-text"><span class="special-txt">Issued date : </span>{{loanRequest.issued_date}}</p>
                                <p class="card-text"><span class="special-txt">Status : </span>{{loanRequest.status}}</p>

                               
                            </div>
                            
                          
            </div>
                          
                  {{else}}
                    <p>No loan</p>
                  {{/if}}

                    {{#if loanRequest}}
                   <div class="accept">
                       <a href="/users/lender/loans/{{this.loan_id}}"> Approve</a>
                   </div>
                     {{else}}
                      {{/if}}

                   {{#if Issuer}}
                       
                                <div class="card" style="margin-top: 2em; margin-bottom: 4em;">
                                     <div class="card-header">
                                        {{Issuer.role}}

                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="mt-0"><span class="special-txt">Adhar Id : </span>{{Issuer.adhar_id}}</p>
                                                <p class="card-text"><span class="special-txt">Name : </span>{{Issuer.name}}</p>
                                                <p class="card-text"><span class="special-txt">Address : </span> {{Issuer.address}}</p>
                                                <p class="card-text"><span class="special-txt">Phone : </span>{{Issuer.phone}}%</p>
                                            </div>
                                            <div class="col-md-6">
                                                  <p class="card-text"><span class="special-txt">UPI ID: </span>{{Issuer.upi_id}}</p>
                                                    <p class="card-text"><span class="special-txt">State : </span>{{Issuer.state}}</p>
                                                    <p class="card-text"><span class="special-txt">City : </span>{{Issuer.city}}</p>
                                                    <p class="card-text"><span class="special-txt">Pincode : </span>{{Issuer.pincode}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


   
            
                            </div>
                           

                        
                  {{else}}
                    <p>No Issuer</p>
                  {{/if}}

                
               
</section>
